[submodule "aliases"]
	path = aliases
	url = https://github.com/golxzn/os-aliases.git
[submodule "filesystem"]
	path = filesystem
	url = https://github.com/golxzn/filesystem.git
[submodule "chrono"]
	path = chrono
	url = https://github.com/golxzn/os-chrono.git
